Resources:
  AWSEBAutoScalingScaleUpPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref": "AWSEBAutoScalingGroup" }
      Cooldown: '300'
      ScalingAdjustment: 1

  AWSEBAutoScalingScaleDownPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref": "AWSEBAutoScalingGroup" }
      Cooldown: '300'
      ScalingAdjustment: -1

  ScalingOnMemoryAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Scale up when memory used percent > 80"
      Namespace: "CWAgent"
      MetricName: mem_used_percent
      Dimensions:
            - Name: AutoScalingGroupName
              Value:
                Ref: AWSEBAutoScalingGroup
      Statistic: Average
      Period: 300
      EvaluationPeriods: 3
      DatapointsToAlarm: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: missing
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleUpPolicy

  ScalingOnMemoryAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Scale down when memory used percent < 40"
      Namespace: "CWAgent"
      MetricName: mem_used_percent
      Dimensions:
            - Name: AutoScalingGroupName
              Value:
                Ref: AWSEBAutoScalingGroup
      Statistic: Average
      Period: 300
      EvaluationPeriods: 3
      DatapointsToAlarm: 2
      Threshold: 40
      ComparisonOperator: LessThanThreshold
      TreatMissingData: missing
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleDownPolicy
